<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" class="css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    
    <div class="m-10 p-4 bg-zinc-900 h-[85vh] w-[95vw]">
        <form action="/edit" class="block flex flex-col gap-3" method="post">
            <a href="/" class="text-blue-500 inline-block mb-6">Go Back to Home</a>
            <input class="w-3/4 bg-zinc-600 mt-3 rounded p-2" type="text" name="prev" value="<%= filename %>">
            <input class="w-3/4 bg-zinc-900 mt-3 rounded p-2 border border-white-300" name="new" placeholder="Enter new name"></input>
            <input type="submit" value="Update fileName" class="bg-yellow-600 rounded p-2 mt-3 cursor-pointer w-[200px]"></input>
        </form>
    </div>

</body>
</html>