<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" class="css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    
    <div class="m-10 p-4 bg-zinc-900 h-[85vh] w-[95vw] flex flex-col gap-3">
        <a href="/" class="text-blue-500 inline-block">Go Back to Home</a>
        <h1 class="mb-10">FileName : <%= filename %></h1>
        <p>
            FileContent : <%= filedata %>
        </p>
    </div>

</body>
</html>